/******* Footer Navigation *******/
.container{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.container  > img{
    max-width: 30px;
    margin-right: auto;
}

.container > a > button {    
    text-align: center;
    padding: 10px;
    border: 2px solid gray;
    font-size: 14px;
    cursor: pointer;
}

.container > a > button:hover {
    background-color: rgba(12, 12, 165, 0.712);
}

/* .customer > button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

.container > a > button#Home{
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container > a > button#Call {
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/********  Body  *******/
/********  Home  *******/
.header{
    text-align: center;
    margin: 50px 50px;
}

#home {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

.image{
    flex: 60%;
    border: 2px solid black;
    max-height: none;
}

.image > img{
    max-width: 100%;
}

.image > p{
    text-align: center;
}

.customer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: aqua;
    padding: 10px;
}

.customer-image{
    max-width: 50px;
}

.customer-image > img{
    max-width: 100%;
    border-radius: 50%;
    margin-right: auto;
}

.customer-detail > p{
    background-color: aqua;
    margin: 2px;
}

.form{
    flex: 40%;
    padding: 14px;
    border: 2px solid black;
}

.head-form > h4{
    margin-bottom: 0px;
}

.head-form > p{
    margin-top: 10px;
    margin-bottom: 20px;
}

.body-form > input[id="message"]{
    width: 20rem;
    height: 5rem;
}

#desk{
    display: flex;
    max-width: 55%;
    background-color: aqua;
}

/********  Our Package  ********/
#OurPackages{
    text-align: center;
    padding: 50px;
    background-color: rgb(197, 194, 194);
}

#OurPackages-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: aqua;
}

#OurPackages-detail-first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

#OurPackages-detail-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#CallUs{
    display: flex;
    flex-direction: column;
}

#CallUs-head{
    padding: 40px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

#CallUs-foot{
    display: flex;
    padding: 14px;
    justify-content: center;
    margin-bottom: 50px;
}

#CallUs-foot > a > button{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: white;
    background-color: rgba(34, 34, 168, 0.945);
    border: 1px solid white;
    border-radius: 5px;
}

#CallUs-foot > a > button:hover{
    background-color: rgb(4, 4, 145);
    color: rgb(233, 181, 10);
}